.meta-data,
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.superhost {
  flex: 1;
  justify-content: flex-start;
}

.type {
  flex: 1.5;
  text-align: start;
}

.rating {
  justify-content: flex-end;
}

.beds,
.rating {
  flex: 0.7;
}

.superhost {
  padding: 1px;
  margin-right: 0.5rem;
  font-size: var(--ss-font-size);
  color: var(--header-gray);
  border: 1px solid var(--header-gray);
  border-radius: 6px;
  text-align: center;
}

.type,
.beds,
.number {
  font-size: var(--small-font-size);
}

.type,
.beds {
  color: var(--text-color);
}

.number {
  color: var(--header-gray);
}

.card {
  width: fit-content;
}

.card-title {
  font-size: var(--mid-font-size);
  color: var(--winbnb-black);
}

.beds {
  text-align: center;
}

.star {
  color: var(--icon-red);
}

#rooms {
  border-radius: 24px;
}
