.footer-text {
  border-top: 1px solid var(--text-color);
  padding-top: 1rem;
  display: inline;
  color: var(--text-color);
  font-size: var(--ss-font-size);
}

.footer {
  margin-top: 3rem;
  text-align: center;
}
