.container {
  display: flex;
  flex-direction: row;
}

.logo {
  text-align: start;
  flex: 0.5;
}

.logo:hover {
  cursor: pointer;
}

.search-panel > div {
  height: inherit;
}

.place,
.guests {
  flex: 1;
  font-size: var(--small-font-size);
  color: var(--unfocusd-gray);
  border-right: 1px solid var(--gadget-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  padding-right: 0.5rem;
  text-align: center;
}

.search-button {
  flex: 0.5;
  padding-top: 19px;
  text-align: center;
}

.search-button:hover {
  cursor: pointer;
}

.material-icons.md-18 {
  font-size: 18px;
  color: var(--icon-red);
}

@media (max-width: 1061px) {
  .logo {
    flex: 0.5;
  }
}

@media (max-width: 620px) {
  .container {
    flex-direction: column;
  }

  .container {
    justify-content: flex-start;
  }

  .logo {
    padding-bottom: 0.5rem;
  }
}
