nav {
  top: 0%;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  position: fixed;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1rem;
  z-index: 999999;
}

.container {
  display: flex;
  flex-direction: row;
}

.logo {
  text-align: start;
  flex: 0.5;
}

.logo:hover {
  cursor: pointer;
}

.search-panel {
  margin-left: 30rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--gadget-gray);
  border-radius: var(--radius);
  height: 3.2rem;
}

.search-panel:hover {
  box-shadow: var(--shadow);
  border: none;
}

.search-panel > div {
  height: inherit;
}

.place,
.guests {
  flex: 1;
  font-size: var(--ss-font-size);
  color: var(--unfocusd-gray);
  border-right: 1px solid var(--gadget-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  padding-right: 0.5rem;
  text-align: center;
}

.query-icon {
  margin-right: 0.25rem;
}

.search-button {
  flex: 0.5;
  padding-top: 19px;
  text-align: center;
}

.search-button:hover {
  cursor: pointer;
}

.material-icons.md-18 {
  font-size: 18px;
  color: var(--icon-red);
}

@media (max-width: 1061px) {
  .search-panel {
    margin-left: 0;
  }
  .logo {
    flex: 0.5;
  }
}

@media (max-width: 620px) {
  .container {
    flex-direction: column;
  }

  .container {
    justify-content: flex-start;
  }

  nav {
    height: 7rem;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 0;
  }
}
