.nav-expanded {
  background-color: white;
  top: 0%;
  left: 0;
  width: 100%;
  height: 21rem;
  position: fixed;
  padding-left: 6rem;
  padding-right: 6rem;
}

.search-panel-expanded {
  width: 100%;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: row;
  box-shadow: var(--shadow);
  border: none;
  border-radius: var(--radius);
  height: 3.3rem;
}

.panels {
  display: flex;
  flex-direction: row;
}

.dummy {
  flex: 1;
}
