.nav-responsive {
  background-color: white;
  top: 0%;
  left: 0;
  width: 100%;
  height: 23rem;
  position: fixed;
  padding-left: 6rem;
  padding-right: 6rem;
  flex-direction: column;
}

.selectors {
  display: grid;
  grid-template-areas:
    "windows windows"
    "location guests"
    "search search";
}

.windows {
  height: 3.3rem;
  grid-area: windows;
  display: flex;
  flex-direction: row;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.search-expanded {
  grid-area: search;
}

.location-panel {
  grid-area: location;
}

@media (max-width: 610px) {
  .nav-responsive {
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .selectors {
    grid-template-areas:
      "windows"
      "location"
      "guests"
      "search";
  }

  .windows {
    height: 6.6rem;
  }

  .nav-responsive {
    height: 26.5rem;
  }

  .windows {
    flex-direction: column;
  }
}
