.guests-expanded {
  flex: 1;
  height: inherit;
  font-size: var(--small-font-size);
  border-right: 1px solid var(--gadget-gray);
  display: flex;
  flex-direction: column;
  padding: 8.4px 1rem 0px 1rem;
}

.guests-expanded:focus {
  border: 1px solid var(--winbnb-black);
}

.guests-title {
  padding-bottom: 0.2rem;
}

.text {
  color: var(--unfocusd-gray);
}

@media (max-width: 620px) {
  .guests-expanded {
    border-right: none;
  }
}

@media (max-width: 450px) {
  .guests-expanded {
    border-right: none;
  }
}
