.place-expanded {
  flex: 1;
  border-right: 1px solid var(--gadget-gray);
  font-size: var(--small-font-size);
  padding: 8.4px 1rem 0px 1rem;
}

.place-form-expanded {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 0.2rem;
}

input {
  width: 90%;
}

input:focus {
  outline: none;
}

::placeholder {
  font-size: var(--small-font-size);
  color: var(--unfocusd-gray);
  border: none;
}

.text {
  color: var(--unfocusd-gray);
}

@media (max-width: 450px) {
  .place-expanded {
    border-bottom: 1px solid var(--gadget-gray);
    border-right: none;
  }

  .search-expanded {
    margin-top: 0.5rem;
  }
}
