.location-panel {
  margin: 16px 0 0 0;
  padding: 0rem 1rem;
  width: 13rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow-y: scroll;
  flex: 1;
}

.city {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

li {
  list-style: none;
}

.city-name:hover {
  border-bottom: 1px solid var(--winbnb-black);
  cursor: pointer;
}
