.search-expanded {
  text-align: -webkit-center;
  flex: 1;
}

button {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  border-radius: var(--radius);
  background-color: var(--icon-red);
  box-shadow: var(--shadow);
}

button:hover {
  background-color: rgb(214, 0, 0);
}

.label {
  color: white;
}

.material-icons.expanded {
  color: white;
  padding-left: 24px;
}

@media (max-width: 450px) {
  .search-expanded {
    margin-top: 1rem;
  }
}
