* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --text-color: #828282;
  --header-gray: #4f4f4f;
  --winbnb-black: #333333;
  --unfocusd-gray: #bdbdbd;
  --gadget-gray: #f2f2f2;
  --icon-red: #eb5757;
  --large-font-size: 24px;
  --mid-font-size: 16px;
  --small-font-size: 14px;
  --ss-font-size: 12px;
  --shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  --radius: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5rem;
}

main {
  padding-top: 5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.header-title {
  color: var(--winbnb-black);
  font-size: var(--large-font-size);
  flex: 1;
  text-align: start;
}

.show-case {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

@media (max-width: 940px) {
  .show-case {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 620px) {
  .show-case {
    grid-template-columns: auto;
  }

  header {
    margin-top: 8rem;
  }

  main {
    padding: 0;
  }
}
